<div class="row">

    <div class="col-sm-6">
        <app-episode-card [episode]="episodio" [verMasInfo]="false"></app-episode-card>
    </div>
    
    <div class="col-sm-6">

        <div class="row mt-3">
            <div class="col-sm-12">
                <h4 class="mat-display-1">Personajes : </h4>
                <div class="container-fluid">
                    <table class="table table-hover">
                        <tbody>
                            
                            <tr *ngFor="let item of episodio.characters">
                                <td>
                                    <app-character-item [characterURL]="item" ></app-character-item>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>