<nav class="navbar navbar-expand-lg  fixed-top navbar-dark bg-dark" aria-label="Ninth navbar example">
  <div class="container-xl">

    <a href="https://baufest.com/" target="_blank">
      <img width="150" alt="Baufest Logo" src="/assets/imgs/Logo-Baufest-blanco.png">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse ms-5" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Inicio</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Rick and Morty
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/buscador">Buscar</a></li>
            <li><a class="dropdown-item" href="/comparador">Comparar</a></li>
          </ul>
        </li>

      </ul>
    </div>

  </div>
</nav>